html {
  background-color: rgba(7, 90, 15, 0.899) !important;
}

.App {
  text-align: center;
  background-color: rgba(7, 90, 15, 0.899) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(7, 90, 15, 0.899) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* div, nav, a {
  background-color: rgba(23, 193, 40, 0.323) !important;
} */

div.root {
  background-color: rgba(7, 90, 15, 0.899) !important;
}

section, article, div {
  background-color: rgba(7, 90, 15, 2%) !important;
}
.bg-info {
  background-color: none;
}